@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  font-family: "Spoqa Han Sans", "Sans-serif";
}

html {
  height: 100%;
}

html,
body,
#container {
  display: flex;
  flex: 1;
}

button:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

.markdown-container {
  color: #223149;
}
